* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #780116;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*? HEADER*/
header {
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 2px solid #fff;
    margin-top: 10px;
}

#logo {
    width: 24vw;
    height: 40vh;
    border-radius: 20px;
    margin: 20px auto;
}

header>h1 {
    display: flex;
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
    align-items: center;
    text-shadow: #000 5px 6px 2px;
}

/*? CLIENTE*/

.title-menu {
    color: #F7B538;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5em;
    margin: 1.5em;

    text-shadow: 1px 0px 1px #000, 0px 1px 1px #222, 2px 1px 1px #000, 1px 2px 1px #222, 3px 2px 1px #000, 2px 3px 1px #222, 4px 3px 1px #000, 3px 4px 1px #222, 5px 4px 1px #000, 4px 5px 1px #222, 6px 5px 1px #000, 5px 6px 1px #222, 7px 6px 1px #000;
}

.flavor-container,
.ornaments-container {
    height: 60vh;
    padding: 30px;
    margin-bottom: 30px;
}

.subtitle {
    text-align: center;
    margin: 1.5em 0;
    font-size: 2.5em;
    color: #efef;

    text-shadow: #222222 5px 6px 2px;
}

.list {
    list-style: none;
    margin-bottom: 2em;
}

.list>li {
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.order-container {
    position: relative;
}

.order-container>h2 {
    font-size: 2.8em;
    text-transform: uppercase;
}

.form-order {
    height: 100vh;
}

.form-order>h3 {
    font-size: 2em;
    margin-bottom: 2em;
    margin-left: 10px;
}

.text-input {
    margin: 2em 1em;
    width: 24em;
    height: 2em;
}

.check-input {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    padding: 0;
    user-select: none;
    color: #2563eb;

    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 2.5em;
    height: 2.5em;
    appearance: none;
    border: 2px solid #fff;
    transition: background-color 0.3s ease-in-out;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.check-input:checked {
    background-color: #3dbe02;
}

.check-input:focus {
    border-color: #fff;
}

.check-input:disabled {
    background-color: #c6c6c6;
    background-image: none;
}

.check-input:disabled:checked {
    background-color: #c6c6c6;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.form-order>label,
p {
    padding: 0 .5em;
    font-size: 1.4em;
}

.form-order>p {
    height: 2em;
}

.form-order>button {
    height: 8vh;
    width: 14vw;
    cursor: pointer;
    margin: 20px;
    padding: 0 6px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    background-color: #FFF3B0;
    *color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 8px #FFF3B0bf;
}

.form-order>button:hover {
    background-color: #eee3a3;
    transform: scale(1.1);
}

/*? PASTELERO*/

.quantity-container {
    height: 24%;
    padding: 28px;
    margin: 10px 0;
}

.quantity-container>label {
    font-size: 2em;
}

.quantity-container>input {
    width: 50%;
    height: 10px;
    margin-top: 2em;
}

/**/

input[type="range" i] {
    appearance: none;
    cursor: pointer;
    height: 20px;
    border-radius: 10px;
    background: #335C67;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: #E09F3E;
    border-radius: 0.5rem;
    height: 2rem;
    width: 2rem;
}

table {
    border: 1px solid #1C6EA4;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    margin: 20px auto;
}

table tr,
table th,
table td {
    text-align: center;
    padding: 10px 0;
    border: 4px solid #335C67;
}

table dt {
    text-align: justify;
    padding-left: 10px;
    margin: 10px 0;
}

footer {
    border-top: 4px solid #E09F3E;
    height: 34vh;
    margin-top: 4em;
    text-align: center;
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

footer>a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

footer>a:hover {
    background-color: #9E2A2B;
    border-radius: 10px;

}

footer>h2 {
    grid-row: 1;
    font-size: 2em;
    color: #FFF3B0;
    text-shadow: #222222 4px 8px 6px;
}

#address-title,
#address {
    grid-column: 1;
}

#phone-title,
#phone-number,
#contact {
    grid-column: 2;
}

#schedule-title,
#schedule {
    grid-column: 3;
}

#schedule,
#address {
    grid-row: 2/ span 3;
}